.projects {
  margin-bottom: 16rem;
  scroll-margin-top: 15rem;
  display: flex;
}

.projects .projects__content {
  max-width: 100%;
  text-align: center;
  margin: 0 auto 6rem;
  padding: 0;
  box-sizing: border-box;
}

.container-projetos {
  position: relative;
  padding: 30px;
  max-width: auto;
  margin: 0 auto;

}

.projetos-wrapper {
  overflow-x: auto;
}


.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  color: var(--primary-color);
  transition: all 600ms ease-in-out;
  background-color: transparent;

  opacity: 0.5;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 100;
  color: var(--primary-color);
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background-color: transparent;
}

.galeria-de-projetos {
  display: flex;
  flex-flow: row nowrap;
  gap: 2px;
}

.item {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 380px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.8;
  padding: 30px;
  border-radius: 8px;
}



.current-item {
  position: relative;
  opacity: 1;
  border: none;
  width: 400px;
  height: 400px;
  padding: 10px;
  background: linear-gradient(to left, transparent 0%, var(--primary-color) 200%);
}

.imagem-projeto {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--tertiary-color);
  box-shadow: 0 0.2rem 0.9rem var(--black);
}





/* Escondendo a scrollbar no Chrome, Safari e Opera */
.projetos-wrapper::-webkit-scrollbar {
  display: none;
}

/* escondendo scrollbar para IE, Edge e Firefox */
.projetos-wrapper {
  -ms-overflow-style: none;
  /* IE ae Edge */
  scrollbar-width: none;
  /* Firefox */
}

summary {
  margin: 10px;
  list-style-type: circle;
  color: var(--secondary-color);
  cursor: pointer;
}

summary:hover {
  color: blue;
}

details[open] summary {

  list-style-type: square;
  color: var(--white);
  background: linear-gradient(to left, transparent 0%, var(--primary-color) 200%);

}

.item>button {
  margin: 20px;
}

.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  outline: none;
}

.btProjeto {
  background: var(--dark-secondary-color);
  border: none;
  z-index: 1;
}

.btProjeto:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-color: var(--primary-color);
  border-radius: 5px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  transition: all 0.3s ease;
}

.btProjeto:hover {
  color: #fff;
}

.btProjeto:hover:after {
  left: 0;
  width: 100%;
}

.btProjeto:active {
  top: 2px;
}