.projects {
  margin-bottom: 16rem;
  scroll-margin-top: 15rem;

}

.projects .projects__content {
  max-width: 56rem;
  text-align: center;
  margin: 0 auto 6rem;
}

.container-projetos {
  display: flex;
  padding: 0;
  overflow-x: 0;
  margin: 0;
  max-width: 80%;
  max-height: 60%;
  padding: 15px;
  margin: 0 auto;
  overflow-x: auto;
}

.projetos-wrapper {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
}

.galeria-de-projetos {
  border-radius: 20%;
  background-color: blue;
}
.flecha{
position: absolute;
margin: 0;
width: 100%;
}
.arrow-left-control {
position: relative;

 
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
  border: none;
  background: linear-gradient(
    to left, transparent 0%,var(--primary-color) 200% );
}

.arrow-right-control {

position: relative;
  left: auto;
  right: 0;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 100%;
  text-align: center;
  color: var(--primary-color);
  cursor: pointer;
  border: none;
  background: linear-gradient(
    to right, transparent 0%,var(--primary-color) 200% );
}




@media only screen and (max-width: 768px) {

  .projects ul li,
  .projects ul li.projects__reversed-list {
    flex-direction: column;
  }

  .projects ul li .projects__info {
    max-width: 66rem;
  }

  .projects ul li .image img {
    min-width: auto;
  }
}